<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- Display the name of the activity -->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- Use v-if to show this if there are validation errors -->
                <div class="alert alert-danger" v-if="errors.length > 0">
                    <!-- Show a list of validation errors from form -->
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <!-- Display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- Use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- Use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- Create select element, use v-model to connect to the types -->
                    <!-- Use v-for to create option elements, one for each type -->
                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types">{{ activityType }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <!-- v-model media -->
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">Traditional</label>
                </div>

                <div class="form-check-inline">
                    <!-- v-model media -->
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">Digital</label>
                </div>
                <br /><br />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="completed" v-model="completed">
                    <label class="form-check-label" for="completed">
                        Completed?
                    </label>
                </div>
                <br />

                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <textarea class="form-control" id="notes" rows="3" v-model="notes"></textarea>
                  </div>

                <div>
                    <!-- Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3>{{ totalRecordsMessage }}</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Completed?</th>
                            <th>Notes</th>
                        </tr>
                        <!-- Use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords" v-bind:class= " {sketching: record.type === 'Sketching',
                        drawing: record.type === 'Drawing', painting: record.type =='Painting'} ">
                            <td>{{ shortDate(record.date) }}</td>
                            <td>{{ record.hours }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.medium }}</td>
                            <td>{{ formatCompleted }}</td>
                            <td v-if="record.notes.length > 40">{{ record.notes.substring(0,40) + '...' }}</td>
                            <td v-else>{{ record.notes }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- Add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
                <p>Total sketching hours: {{ hoursByCategory[0] }}</p>
                <p>Total drawing hours: {{ hoursByCategory[1] }}</p>
                <p>Toal painting hours: {{ hoursByCategory[2] }}</p>
            </div>
        </div>

    </div>

    <script>

    //   Create new Vue app here

    let app = Vue.createApp({
        data() {
            return {
                activity: 'Practice Art',
                activityRecords: [],

                // v-modeled to the form inputs
                dateString: '',
                hours: 1, 
                type: 'Sketching',
                medium: 'Traditional', 

                // used with the select-option in the form for the user to select
                types: ['Sketching', 'Drawing', 'Painting'], 
                errors: [],
                completed: false,
                notes: ''
            }
        },
        methods: {
            submit(){

                this.errors = []

                let date = new Date(this.dateString)

                // Is the date a valid date? Cannot be in the future
                if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ) {
                    this.errors.push('Select a valid date, today or in the past.')
                }

                if (this.hours <= 0 || this.hours > 24) {
                    this.errors.push('The number of hours must be greater than 0 and less than or equal to 24')
                }

                if (!this.type) {
                    this.errors.push('Select a type')
                }

                if (!this.medium) {
                    this.errors.push('Select a medium')
                }

                if (this.errors.length === 0) {

                // Check for notes length and format it if the length is greater than 40 characters
                    
                    let record = {
                        date: date,
                        hours: this.hours,
                        type: this.type, 
                        medium: this.medium,
                        completed: this.completed, 
                        notes: this.notes
                    }

                    this.activityRecords.push(record)

                    // sort the activity records
                    this.activityRecords.sort(function(r1, r2){
                        // sort with oldest records first
                        return r1.date.getTime() - r2.date.getTime()
                    })
                }
            },
            shortDate(date){
                return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
            }
        },
        computed: {
            totalRecordsMessage() {
                
                let numberOfRecords = this.activityRecords.length
                
                if (numberOfRecords === 1) {
                    return '1 record'
                } else {
                    return this.activityRecords.length + ' records'
                }
            },
            totalHours(){
                let total = 0
                this.activityRecords.forEach(function(record){
                    total = total + record.hours
                })
                return total
            },
            formatCompleted(){
                let formattedComplete = ''
                if (this.completed){
                    formattedComplete = 'Completed'
                } else {
                    formattedComplete = 'Not Completed'
                }
                return formattedComplete
            },
            hoursByCategory(){
                let categoryHours = [0, 0, 0]
                this.activityRecords.forEach(function(record){
                    if (record.type === 'Sketching'){
                        categoryHours[0] = categoryHours[0] + record.hours
                    } else if (record.type === 'Drawing'){
                        categoryHours[1] = categoryHours[1] + record.hours
                    } else {
                        categoryHours[2] = categoryHours[2] + record.hours
                    }              
                })
                return categoryHours
            }
        }
    })

    app.mount('#app')

    </script>

</body>

</html>